.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.step {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeout {
  animation: fadeOut .5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.flag-container>img {
  width: auto;
  height: 1rem;
  object-fit: cover;
  /* Use contain to maintain aspect ratio and fit within the container */
}

.MuiDataGrid-overlayWrapper {
  min-height: 5rem !important
}

@media only screen and (max-width: 800px) {
  .MuiSlider-root {
    pointer-events: none !important;
  }

  .MuiSlider-thumb {
    pointer-events: all !important
  }
}

._CZjuD {
  overflow-x: scroll;
}

._3lLk3 {
  white-space: initial;
}

.MuiGrid-root.MuiGrid-container.MuiPickersToolbar-content.css-jhsfre-MuiGrid-root-MuiPickersToolbar-content {
  visibility: collapse;
}

.MuiPickersToolbar-root.MuiPickersLayout-toolbar.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  visibility: collapse;
}

.ganttchart-container tbody .MuiTableRow-root:last-child .MuiTableCell-root,
.ganttchart-container-dark tbody .MuiTableRow-root:last-child .MuiTableCell-root {
  border-bottom: none;
}

.ganttchart-container ._2dZTy {
  fill: white
}

.ganttchart-container-dark ._2dZTy,
.ganttchart-container-dark ._35nLX {
  fill: #161618;
  stroke: transparent
}

.ganttchart-container-dark ._2q1Kt,
.ganttchart-container-dark ._9w8d5,
.ganttchart-container-dark ._3KcaM {
  fill: #fff
}

/* row line */

.ganttchart-container ._3rUKi {
  stroke: rgba(224, 224, 224, 1);

}

.ganttchart-container-dark ._3rUKi,
.ganttchart-container-dark ._RuwuK {
  stroke: #e3e8ef35;
}

.ganttchart-container ._2k9Ys {
  max-height: 5px !important
}

._2k9Ys {
  max-height: 5px !important
}

/* this is a line for a overlayWrapper that sits above Poper component :/ */

.css-ql19fo-MuiDataGrid-overlayWrapper {
  z-index: 0 !important;
}